<div class="header-wrapper">
    <header class="site-header" role="banner">
        <h1 class="site-header-logo-container"><a href="#" id="site-header-logo" class="image-replace"> Digg </a></h1>
    </header>
    <div id="reader-app-msg-container"></div>
    <div class="site-header-nav" role="navigation">
        <ul class="nav-list reader-nav" id="reader-nav">
            <li class="nav-item reader-nav-text-item reader-nav-faq">
                <a href="#" target="_blank"> FAQ </a>
            </li>
            <li class="nav-item reader-nav-text-item reader-nav-shortcuts">
                <a href="#"> Keyboard Shortcuts </a>
            </li>
            <li class="nav-item reader-nav-item reader-nav-mark-as-read">
                Mark all as read
            </li>
            <li class="nav-item reader-nav-item reader-nav-item-tooltip reader-nav-view-type-selector">
                <div class="list all" id="view-region-view-type-selector">
                    <div class="view-type-selector">
                        <div id="show-type-label" class="show-type-label">
                            All items
                        </div>
                        <div class="reader-nav-tooltip view-types">
                            <ul class="reader-nav-tooltip-list">
                                <li class="reader-nav-tooltip-list-item view-type view-type-expanded">
                                    <a id="btn-expanded" data-view-type="expanded" href="#"> Expanded </a>
                                </li>
                                <li class="reader-nav-tooltip-list-item view-type view-type-list">
                                    <a id="btn-list" data-view-type="list" href="#"> List </a>
                                </li>
                                <li class="reader-nav-tooltip-list-item show-type show-type-all">
                                    <a id="btn-all" data-show-type="all" href="#"> All items </a>
                                </li>
                                <li class="reader-nav-tooltip-list-item show-type show-type-unread">
                                    <a id="btn-unread" data-show-type="unread" href="#"> Unread only </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item reader-nav-item reader-nav-item-tooltip reader-nav-settings">
                <div class="reader-nav-tooltip">
                    <ul class="reader-nav-tooltip-list">
                        <li class="reader-nav-tooltip-list-item">
                            <a href="#"> Settings </a>
                        </li>
                        <li class="reader-nav-tooltip-list-item">
                            <a href="#"> Sign Out </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>