<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title> {% block title %}悦读{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="author" content="zhengbiao" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta property="wb:webmaster" content="2488eba5fce3edd3" />
        <meta property="qc:admins" content="2355567507776316110063757" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.custom.min.css" />
    </head>
    <body class="reader reader-public reader-authed">
        <div id="site-header-container" class="site-header-container page-container">
            {% block head %}
            <div class="header-wrapper">
                <header class="site-header" role="banner">
                    <h1 class="site-header-logo-container"><a href="#" id="site-header-logo" class="image-replace"> Digg </a></h1>
                </header>
                <div id="reader-app-msg-container"></div>
                <div class="site-header-nav" role="navigation">
                    <ul class="nav-list reader-nav" id="reader-nav">
                        <li class="nav-item reader-nav-text-item reader-nav-faq">
                            <a href="#" target="_blank"> FAQ </a>
                        </li>
                        <li class="nav-item reader-nav-text-item reader-nav-shortcuts">
                            <a href="#"> Keyboard Shortcuts </a>
                        </li>
                        <li class="nav-item reader-nav-item reader-nav-mark-as-read">
                            Mark all as read
                        </li>
                        <li class="nav-item reader-nav-item reader-nav-item-tooltip reader-nav-view-type-selector">
                            <div class="list all" id="view-region-view-type-selector">
                                <div class="view-type-selector">
                                    <div id="show-type-label" class="show-type-label">
                                        All items
                                    </div>
                                    <div class="reader-nav-tooltip view-types">
                                        <ul class="reader-nav-tooltip-list">
                                            <li class="reader-nav-tooltip-list-item view-type view-type-expanded">
                                                <a id="btn-expanded" data-view-type="expanded" href="#"> Expanded </a>
                                            </li>
                                            <li class="reader-nav-tooltip-list-item view-type view-type-list">
                                                <a id="btn-list" data-view-type="list" href="#"> List </a>
                                            </li>
                                            <li class="reader-nav-tooltip-list-item show-type show-type-all">
                                                <a id="btn-all" data-show-type="all" href="#"> All items </a>
                                            </li>
                                            <li class="reader-nav-tooltip-list-item show-type show-type-unread">
                                                <a id="btn-unread" data-show-type="unread" href="#"> Unread only </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item reader-nav-item reader-nav-item-tooltip reader-nav-settings">
                            <div class="reader-nav-tooltip">
                                <ul class="reader-nav-tooltip-list">
                                    <li class="reader-nav-tooltip-list-item">
                                        <a href="#"> Settings </a>
                                    </li>
                                    <li class="reader-nav-tooltip-list-item">
                                        <a href="/logout/"> Sign Out </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            {% endblock %}
        </div>
        <div id="content-main" class="content-main">
            <div class="content-primary" role="main">
                <div id="view-region-readerapp" class="view-region-readerapp">
                    <div>
                        <div class="col-left" style="height: 324px;">
                            {% block tree %}
                            <nav id="view-region-nav" class="view-region-nav scrollable" style="height:258px;">
                                <div id="view-region-nav">
                                    <ul id="dr-persistent-nav" class="dr-list dr-persistent-nav">
                                        <li class="dr-list-item dr-nav-all" id="dr-nav-all" data-folder="" data-feed-url="">
                                            <div class="dr-label dr-feed-label" data-unread="0">
                                                <span title="All" class="dr-label-txt"> All </span>
                                            </div>
                                        </li>
                                        <li class="dr-list-item dr-nav-popular" id="dr-nav-popular">
                                            <div class="dr-label dr-feed-label" data-unread="0">
                                                <span title="Popular" class="dr-label-txt"> Popular </span>
                                            </div>
                                        </li>
                                        <li class="dr-list-item dr-nav-diggs" id="dr-nav-diggs">
                                            <div class="dr-label dr-feed-label" data-unread="0">
                                                <span title="Diggs" class="dr-label-txt"> Diggs </span>
                                            </div>
                                        </li>
                                        <li class="dr-list-item dr-nav-saved" id="dr-nav-saved">
                                            <div class="dr-label dr-feed-label" data-unread="0">
                                                <span title="Saved" class="dr-label-txt"> Saved </span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div id="dr-subscription-list">
                                        <ul id="root-feed-list" data-folder="" data-feed-url="" class="dr-root-feed-list dr-feed-list sortable">
                                            {% for folder in folder_list %}
                                            <li data-folder-expanded="false" style="" data-sort-position="0" class="dr-list-item dr-feed-list-folder" data-feed-url="1" data-folder="{{ folder.id }}" data-droppable="true" data-rootonly="true" draggable="true">
                                                <div class="dr-folder-toggle">
                                                    &nbsp;
                                                </div>
                                                <span class="dr-folder-delete" style="">x</span>
                                                <div data-unread="0" class="dr-feeds-collection-view dr-label dr-folder-label 0">
                                                    <span title="1" class="dr-label-txt"> {{ folder.name }} </span>
                                                </div>
                                                <ul class="dr-list dr-feed-list">
                                                    {% for key,feed in folder.feeds.iteritems %}
                                                    <li draggable="true" data-feed-url="{{ feed.url }}" data-unread="{{ feed.id }}" data-html-url="{{ feed.url }}" data-folder="{{ folder.id }}" data-title="{{ feed.title }}" class="dr-list-item dr-feed-list-item dr-label-has-unread" data-parent="test" data-sort-position="0">
                                                        <div class="dr-feed-badge" style="background-image: url(); background-size: 16px;"></div>
                                                        <div class="dr-label dr-feed-label" >
                                                            <span title="{{ feed.title }}" class="dr-label-txt">{{ feed.title }}</span>
                                                        </div>
                                                    </li>
                                                    {% endfor  %}
                                                </ul>
                                            </li>
                                            {% endfor %}
                                            {% for key,feed in feeds.iteritems %}
                                            <li draggable="true" data-feed-url="{{ feed.url }}"  data-unread="{{ feed.id }}" data-folder='0'  data-html-url="{{ feed.url }}" data-title="{{ feed.title }}" class="dr-list-item dr-feed-list-item dr-label-has-unread" data-parent="test" data-sort-position="0">
                                                <div class="dr-feed-badge" style="background-image: url(); background-size: 16px;"></div>
                                                <div class="dr-label dr-feed-label">
                                                    <span title="{{ feed.title }}" class="dr-label-txt">{{ feed.title }}</span>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div id="dr-tags"></div>
                                <div></div>
                            </nav>
                            {% endblock %}
                            <div id="view-add" class="view-add">
                                <div class="show-tooltip">
                                    <div class="dr-add-btn">
                                        <div class="dr-add-btn-label">
                                            <div class="btn-label-inner">
                                                Add
                                            </div>
                                        </div>
                                        <div class="tooltip-subscription-add">
                                            <ul class="tooltip-list">
                                                <li class="tooltip-list-item tooltip-list-input">
                                                    <form id="tooltip-subscription-add-form">
                                                        <input type="text" id="tooltip-subscription-add-form-input" placeholder="Search or Enter a URL" autocomplete="off">
                                                    <div id="search-region-loading" class="main-region-loading" style="display: none;"></div>
                                                    </form>

                                                </li>
                                                <li class="tooltip-list-item btn-browse-categories">
                                                    Browse categories
                                                </li>
                                                <li class="tooltip-list-item btn-add-folder">
                                                    New folder
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-right" style="">
                            <section id="view-region-main-container" class="view-region-main-container scrollable">
                                <header class="feed-stream-header">
                                  <h2 id="feed-title" class="feed-title">All</h2>
                                </header>
                              {% for story in stories %}
                                <article class="feeditem-list item-listview-combo api">
                                    <div class="feeditem-feedtitle">
                                       <span class="feeditem-feedtitle-src">Hacker News</span>
                                    </div>
                                    <div class="feeditem-list-content" style="display:flex">
                                         <span class="story-data">
                                             <span itemprop="headline" class="feeditem-headline">{{story.title}}</span>
                                             <span class="feeditem-description" itemprop="description">Comments</span>
                                         </span>
                                         <span class="story-actions-container">
                                               <span class="story-score">
                                               </span>
                                               <abbr class="published">
                                                   <time class="feeditem-fuzzytime">
                                                         <a target="_blank" class="timestamp" href="{{ story.link }}">{{ story.updated }}</a>
                                                   </time>
                                                 <ul class="story-actions">
                                                   <li class="story-action-item story-action story-action-thumb"><a href="#" class="btn-story-action-thumb"></a></li>
                                                   <li class="story-action-item story-action"><a href="#" class="btn-story-action-readlater"></a></li>
                                                   <li class="story-action-item story-action story-action-share">
                                                              <div class="tooltip tooltip-grey tooltip-top tooltip-fade tooltip-story-share">
                                                                  <ul class="plain-list">
                                                                  </ul>
                                                              </div>
                                                             <a href="#" class="btn-story-action-share"></a> 
                                                    </li>
                                                 </ul>
                                              </abbr>
                                         </span>
                                     </div>
                               </article>                                
                            {% endfor %}
                                <div class="list discovery-browse discovery-browse-category-view"></div>
                            </section>
                                <div id="main-region-loading" class="main-region-loading" style="display: none;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="dialog" title="New folder" style="display: none">
            <section class="modal-body">
                <div class="modal-container">
                    <div class="modal-label" style="margin:0 0 10px">
                        Folder Name :
                    </div>
                    <input type="text" id="newFolder" class="new-folder-label" value="">
                </div>
            </section>
        </div>

       <div id="view-region-modal">
          <div class="fetch-feed-view modal hide fade in" aria-hidden="false" style="display: none;">
            <header class="modal-header">
              <span class="modal-header-text">
                Add Folder
              </span>
              <div class="btn-modal-close">✖</div>
            </header>
            <section class="modal-body">
              <div class="modal-container">
                <div class="modal-label">Name</div>
                <input type="text" class="new-folder-label"> 
              </div>
           </section>
           <footer class="modal-footer">
              <button class="btn-confirm btn-add-folder-submit">Add</button>
           </footer>
         </div>
       </div>

        <script type="text/javascript" src="/static/js/libs/seaJs/sea-debug.js"></script>
        <script type="text/javascript">
            seajs.use("/static/js/init");
        </script>
    </body>
</html>
