<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>悦读</title>
        <meta name="description" content="" />
        <meta name="author" content="zhengbiao" />
    </head>
    <body class="">
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1691386856" type="text/javascript" charset="utf-8"></script>
        <script src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" type="text/javascript" data-appid="100569964" data-redirecturi="http://diggg.sinaapp.com/loginBack/" charset="utf-8"></script>
        <script type="text/javascript">
            QC.Login.signOut();
            WB2.logout();
            window.location.href="/";
        </script>
    </body>
</html>
